<app-nav-bar></app-nav-bar>

<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">

            <div class="row g-3">
               
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <label for="" class="label-control">Title</label>
                    <input name="courseTitle" [(ngModel)]="courseTitle" type="text" class="form-control">
                </div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <label for="" class="label-control">Description</label>

                    <textarea name="courseDescription" [(ngModel)]="courseDescription" id="" cols="30" rows="10" class="form-control"></textarea>
                    
                    <!-- <input name="courseDescription" [(ngModel)]="courseDescription" type="text" class="form-control"> -->
                
                </div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <label for="" class="label-control">Date</label>
                    <input name="courseDate" [(ngModel)]="courseDate" type="date" name="" id="" class="form-control">
                </div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <label for="" class="label-control">Duration</label>
                    <input name="courseDuration" [(ngModel)]="courseDuration" type="text" class="form-control">
                </div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <label for="" class="label-control">Venue</label>
                    <input name="courseVenue" [(ngModel)]="courseVenue" type="text" class="form-control">
                </div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <button (click)="readValues()" class="btn btn-primary">Add course</button>
                </div>
            </div>
        </div>
    </div>
</div>